.logo-icon  {
height: 75px;
    width: 75px;
    background-color: gray;
    border-radius: 50%;
    background-image: url(https://picsum.photos/200);
    background-size: cover;}

.main-header {
    display: flex
;
    justify-content: space-between;
    align-items: center;
}
.navigation {
        display: flex
;
    flex-wrap: wrap;
}
.home {
    border: solid 1px;
    padding: 8px;
    border-radius: 4px;
        display: inline-block;
}
.profile {
    border: solid 1px;
    padding: 8px;
    border-radius: 4px;
        display: inline-block;
}
.portofolio {
    border: solid 1px;
    padding: 8px;
    border-radius: 4px;
        display: inline-block;
}
.contact {
    border: solid 1px;
    padding: 8px;
    border-radius: 4px;
        display: inline-block;
        flex-direction: column;
}

.welcome-section {
    min-height: 100vh;
    display: flex
;
    align-items: center;
    justify-content: center;
}

.profile-section {
    min-height: 100vh;
    display: flex
;
    align-items: center;
    justify-content: center;
}

.portofolio-section {
    min-height: 100vh;
    display: flex
;
    align-items: center;
    justify-content: center;
}

.contact-section {
    display: flex
;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
}

.footer-content {    text-align: center;
    padding: 110px;
}
.message-text{
    margin: 0.3px;
}
.message-form{
        margin-top: 1rem;
    display: flex
;
    justify-content: center;
    align-items: center;
    display: flex
;
    flex-direction: column;
}
.name-field{
        margin-bottom: 1rem;
}
.name-label{
        display: block;
    margin-bottom: 0.5rem;
}
.name-input{
        border: 1px solid;
    padding: 0.5rem;
    width: 100%;
}
.gender-field{
    margin-bottom: 1rem;
}
.gender-label{
        display: block;
    margin-bottom: 0.5rem;
}

.email-field{
        margin-bottom: 1rem;
}
.email-label{
        display: block;
    margin-bottom: 0.5rem;
}
.email-input{
        border: 1px solid;
    padding: 0.5rem;
    width: 100%;
}
.message-field{
        margin-bottom: 1rem;
}
.message-label{
        display: block;
    margin-bottom: 0.5rem;
}
.message-input{
        border: 1px solid;
    padding: 0.5rem;
    width: 100%;
}
